<h1>Add my stuff</h1>
<form [formGroup]="addStuff" (ngSubmit)="addStuff.valid && save()">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" formControlName="name" id="name" required />
    <div class="alert alert-danger" *ngIf="name.invalid && (name.dirty || name.touched)">
      <div *ngIf="name.errors.required || name.errors.pattern">
        Name is required.
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input class="form-control" formControlName="description" id="description"/>
  </div>
  <add-category></add-category>
  <button type="submit">Save</button>
</form>
