<h1>Add my stuff</h1>
<form [formGroup]="addStuff" (ngSubmit)="save()">
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control" formControlName="name" id="name" required />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input class="form-control" formControlName="description" id="description"/>
  </div>
  <mat-form-field class="chip-list">
    <mat-chip-list #chipList>
      <mat-chip color="accent" selected="true" *ngFor="let category of categories" [selectable]="selectable" [removable]="removable" (remove)="remove(category)">
        {{category.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input   placeholder="New Category" id="category"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)" />
    </mat-chip-list>
  </mat-form-field>
  <button type="submit">Save</button>
</form>
{{addStuff.value | json}}


